<!DOCTYPE html>
<html>
<head>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script id="scripty" async></script>

	<script type="text/javascript">

		function doMyGA() {
			const currentURI = window.location.hostname;
			const uri2ga = {"repl1.hostelroo.ml": "1", "repl2.hostelroo.ml": "2", "repl3.hostelroo.ml": "3", "repl4.hostelroo.ml": "4", "repl5.hostelroo.ml": "5", "repl6.hostelroo.ml": "6", "undefined": "7", "localhost": "8"};
			const gaId = uri2ga[currentURI];
			document.getElementById("scripty").src = "https://www.googletagmanager.com/gtag/js?id=UA-131728408-" + gaId;
			return gaId;
		}

		
	</script>

	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'UA-131728408-' + doMyGA());
	</script>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<title>Dashboard | Who Is My Roommate</title>
</head>
<script src="//instant.page/1.1.0" type="module" integrity="sha384-EwBObn5QAxP8f09iemwAJljc+sU+eUXeL9vSBw1eNmVarwhKk2F9vBEpaN9rsrtp"></script>
<body>

	<div class="container">
		<br>
		<center>

		<ul class="nav justify-content-center">
		  <li class="nav-item">
		    <a class="nav-link btn btn-light" href="/">Home</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link btn btn-dark disabled" href="#">Dashboard</a>
		  </li>
		</ul>

		<br>

		<ul class="nav justify-content-center">
			<li class="nav-item">
				<a id="logoutButton" name="logoutButton" href="/logout" class="btn btn-outline-secondary btn-lg btn-block">Logout</a>
			</li>
		</ul>

		<br><br>
		<a href="/newEntry"><button class="btn btn-success" style="font-size:24px">New Entry <i class="fa fa-address-card-o"></i></button></a>

		<a href="/search"><button class="btn btn-primary" style="font-size:24px">Search <i class="fa fa-search"></i></button></a>

		<br><br>
		<a href="/smartsearch"><button class="btn btn-dark" style="font-size:24px">Smart Search <i class="fa fa-lightbulb-o"></i></button></a

			<br><br><br>

			<div class="row">

				<div class="col-sm-6">
					<h4>New User Contributions</h4>
					<div id="newUsers" class="list-group">
						<center>Your contributions would show up here</center>
					</div>
				</div>

				<div class="col-sm-6">
						<h4>Swap Requests</h4>
						<div id="swapRequests" class="list-group">
							<center>Your swap requests would show up here</center>
						</div>
					</div>

		</div>

		<br><br>

		</center>
	</div>

	<br><br>
	<footer class="bottom"><center>
		<i class="fa fa-copyright"></i> <code>UltraSimple UI</code><br><br>
	</center></footer>

	<script>
	
	var coreUserData = "<%= coreUserData %>";

	coreUserData = JSON.stringify(coreUserData);
  coreUserData = JSON.parse(coreUserData);
  coreUserData = coreUserData.replace(new RegExp("&#34;", 'g'), "\"");
  coreUserData = coreUserData.replace(new RegExp("&quot;", 'g'), "\"");
	coreUserData = JSON.parse(coreUserData);
	
	var newUsers = coreUserData[0]['value'];
	var newUserHTML = "";
	for (var key in newUsers) {
		console.log(newUsers[key]);
		newUserHTML += '<a href="/details/' + newUsers[key]['hostelName'] + '/' + newUsers[key]['roomNumber'] + '/' + newUsers[key]['personId'] + '" class="list-group-item list-group-item-action">' + newUsers[key]['studentName'] + '</a>'
	}
	document.getElementById('newUsers').innerHTML = newUserHTML;

	var swapRequests = coreUserData[1]['value'];
	var swapRequestsHTML = "";
	for (var key in swapRequests) {
		console.log(swapRequests[key])
		swapRequestsHTML += '<a href="/details/' + swapRequests[key]['requestGivenTo']['hostelName'] + '/' + swapRequests[key]['requestGivenTo']['roomNumber'] + '/' + swapRequests[key]['requestGivenTo']['personId'] + '" class="list-group-item list-group-item-action">' + swapRequests[key]['swapDate'] + ' - ' + swapRequests[key]['swapTime'] + '</a>'
	}
	document.getElementById('swapRequests').innerHTML = swapRequestsHTML;
	
	</script>

</body>
</html>