<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<title>Search Results</title>

	<style>
	table {
	  font-family: arial, sans-serif;
	  border-collapse: collapse;
	  width: 100%;
	}
	
	td, th {
	  border: 1px solid #dddddd;
	  text-align: left;
	  padding: 8px;
	}
	
	tr:nth-child(even) {
	  background-color: #dddddd;
	}
	</style>

</head>
<body>

	<a href="/">Home</a>

	<h1>Search Results</h1>

	<div id="resultsBox">--- retrieving data ---</div>

</body>

	<script type="text/javascript">
		
		var roomData = "<%= roomData %>";

		roomData = JSON.stringify(roomData);
    	roomData = JSON.parse(roomData);
    	roomData = roomData.replace(new RegExp("&quot;", 'g'), "\"");
    	roomData = JSON.parse(roomData);

		var html = "<tr> <th>Name</th> <th>Room No</th> <th>Hostel</th> <th>Contact No</th> <th></th> <th></th></tr>";

		for (var i = 0; i < roomData.length; i++) {
			curr = roomData[i];
			html += ("<tr> <th>" + curr['value']['studentName'] + "</th> <th>" + curr['value']['roomNumber'] + "</th> <th>" + curr['value']['hostelName'] + "</th> <th>" + curr['value']['contactNumber'] + "</th> <th><a href='/swap/request/" + curr['value']['hostelName'] + "/" + curr['value']['roomNumber'] + "/" + curr['key'] + "''>Swap</a>" + "</th> <th><a href='/details/" + curr['value']['hostelName'] + "/" + curr['value']['roomNumber'] + "/" + curr['key'] + "''>View More</a></th> </tr>");
		}

		html = "<table>" + html + "</table>";

		document.getElementById("resultsBox").innerHTML = html;

	</script>

</html>