<!DOCTYPE html>
<html>
<head>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script id="scripty" async></script>

	<script type="text/javascript">

		function doMyGA() {
			const currentURI = window.location.hostname;
			const uri2ga = {"repl1.hostelroo.ml": "1", "repl2.hostelroo.ml": "2", "repl3.hostelroo.ml": "3", "repl4.hostelroo.ml": "4", "repl5.hostelroo.ml": "5", "repl6.hostelroo.ml": "6", "undefined": "7", "localhost": "8"};
			const gaId = uri2ga[currentURI];
			document.getElementById("scripty").src = "https://www.googletagmanager.com/gtag/js?id=UA-131728408-" + gaId;
			return gaId;
		}

		
	</script>

	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'UA-131728408-' + doMyGA());
	</script>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<title>Register | Who Is My Roommate</title>
</head>
<script src="//instant.page/1.1.0" type="module" integrity="sha384-EwBObn5QAxP8f09iemwAJljc+sU+eUXeL9vSBw1eNmVarwhKk2F9vBEpaN9rsrtp"></script>
<body>


	<div class="container">
		<br>
		<center>

		<ul class="nav justify-content-center">
		  <li class="nav-item">
		    <a class="nav-link btn btn-light" href="/">Home</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link btn btn-dark disabled" href="#">Register</a>
		  </li>
		</ul>

		<br><br>

		<div class="card">
			<form action="/register" method="POST">
				<div class="card-header"><b>Register new account</b></div>
				<div class="card-body">
	
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">E-mail</span>
					</div>
					<input type="text" id="email" name="email" class="form-control" onkeyup="check(this);" required="true">
				</div>
	
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">Password</span>
					</div>
					<input type="password" id="pwd" name="pwd" class="form-control" onkeyup="check(this);" required="true">
				</div>
				<span id='pwdMsg'></span><br>
	
	
				</div> 
				<div class="card-footer">
					<input type="submit" id="submitButton" name="submitButton" class="btn btn-outline btn-success" value="Register" disabled>
				</div>

			</form>
		</div>
		</center>
	</div>

	<br><br>
	<footer class="bottom"><center>
		<i class="fa fa-copyright"></i> <code>UltraSimple UI</code><br><br>
	</center></footer>
	
	<script>
		function check(arg){
 		var id = arg.getAttribute('id');
		 var value = arg.value;
		 
		if (id == 'email') {

			if ((/@srmuniv.edu.in\s*$/.test(value))) {
				document.getElementById('pwdMsg').style.color = 'green';
				document.getElementById('pwdMsg').innerHTML = 'great!';		
			} else {
				document.getElementById('pwdMsg').style.color = 'red';
    			document.getElementById('pwdMsg').innerHTML = 'only @srmuniv.edu.in emails please!';			
		}

		}

		if (id == 'pwd') {
			if (value.length >= 6) {
			document.getElementById('pwdMsg').style.color = 'green';
			document.getElementById('pwdMsg').innerHTML = 'great!';
			
		 } else {
			document.getElementById('pwdMsg').style.color = 'red';
    		document.getElementById('pwdMsg').innerHTML = 'not strong enough';	 
		 }

		}


		 if ((/@srmuniv.edu.in\s*$/.test(document.getElementById('email').value)) && document.getElementById('pwd').value.length >= 6) {
			 document.getElementById('submitButton').disabled = false;
		 } else {
			document.getElementById('submitButton').disabled = true;
		 }

		}
	</script>

</body>
</html>