<!DOCTYPE html>
<html>
<head>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script id="scripty" async></script>

	<script type="text/javascript">

		function doMyGA() {
			const currentURI = window.location.hostname;
			const uri2ga = {"repl1.hostelroo.ml": "1", "repl2.hostelroo.ml": "2", "repl3.hostelroo.ml": "3", "repl4.hostelroo.ml": "4", "repl5.hostelroo.ml": "5", "repl6.hostelroo.ml": "6", "undefined": "7", "localhost": "8"};
			const gaId = uri2ga[currentURI];
			document.getElementById("scripty").src = "https://www.googletagmanager.com/gtag/js?id=UA-131728408-" + gaId;
			return gaId;
		}

		
	</script>

	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'UA-131728408-' + doMyGA());
	</script>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<title>Smart Search | Who Is My Roommate</title>
</head>
<body>

	<div class="container">

		<br>
		<center>

			<ul class="nav justify-content-center">
			  <li class="nav-item">
			    <a class="nav-link btn btn-light" href="/">Home</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link btn btn-dark disabled" href="#">Smart Search</a>
			  </li>
			</ul>
			<br><br>	
	
			<form action="/smartsearch" method="POST">

					<div class="input-group mb-3">
					  <input type="text" id="smartQuery" name="smartQuery" class="form-control" required="true">
					</div>

		    	    <input type="submit" id="submitButton" name="submitButton" class="btn btn-outline btn-lg btn-primary" value="Search">
			</form>

		</center>

	</div>

	<footer class="bottom"><center>
		<i class="fa fa-copyright"></i> <code>UltraSimple UI</code><br><br>
	</center></footer>

</body>
</html>