<doctype html>
<head>
    <title>Who is my roommate</title>
</head>

<h2>Who is my Roommate</h2>

<p><p>
<a href="{{ url_for('.new_album') }}"> Add your data </a>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% from "_formhelpers.html" import render_field %}
<br>
<br>
<form method=post>
  <dl>
    {{ render_field(form.select) }}
    <p>
    {{ render_field(form.search) }}
  </dl>
  <p><input type=submit value=Search>
</form>